<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>


<body>

  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to My Portfolio</h1>
      <p class='p1'>
        You can also find me on GitHub @ <a href="https://github.com/TheNinJedi">https://github.com/TheNinJedi</a>
      </p>
      <p class='p2'><%= time_tag(Date.today) %></p>
    </div>
  </div>
  
  

</body>
</html>