<h1>Thank You for Signing Up!</h1>
<h2>You are now registered with TNJ-Portfolio</h2>

<p>If you forget your password please <%= link_to "Click Here", edit_user_password_url %> to reset your password.</p>

<p>Thanks,</p>
<p>TheNinJedi</p>