.api-container{
   background-color: darken($primary-color, 20%);
   margin-bottom: 100px;
   padding-bottom: 20px;
}

.api-container h2{
  color: white;
  text-align: center;
  font-size: 40px;
}

.api-div-left{
  float: left;
  padding-left: 100px;
}

.api-div-right{
  float: right;
  padding-right: 100px;
}